In [1]:
import pandas as pd

df=pd.read_csv("videosUS.csv")
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [2]:
"""we may have these missing values because of errors during the video collection process, the description variable have the most missing values """
df.isnull().sum()

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

In [3]:
#getting the mean of each variable
df.mean()

category_id               1.997243e+01
views                     2.360785e+06
likes                     7.426670e+04
dislikes                  3.711401e+03
comment_count             8.446804e+03
comments_disabled         1.545825e-02
ratings_disabled          4.127085e-03
video_error_or_removed    5.616743e-04
dtype: float64

In [4]:
#getting the median of each variable
df.median()

category_id                   24.0
views                     681861.0
likes                      18091.0
dislikes                     631.0
comment_count               1856.0
comments_disabled              0.0
ratings_disabled               0.0
video_error_or_removed         0.0
dtype: float64

In [5]:
#getting the first quartile of each variable
df.quantile(0.25)

category_id          17.0
views            242329.0
likes              5424.0
dislikes            202.0
comment_count       614.0
Name: 0.25, dtype: float64

In [6]:
#getting the second quartile of each variable which is the median
df.quantile(0.5)

category_id          24.0
views            681861.0
likes             18091.0
dislikes            631.0
comment_count      1856.0
Name: 0.5, dtype: float64

In [7]:
#getting the third quartile of each variable
df.quantile(0.75)

category_id           25.0
views            1823157.0
likes              55417.0
dislikes            1938.0
comment_count       5755.0
Name: 0.75, dtype: float64

In [8]:
#detecting outilers using the zscore method
import numpy as np
from pandas.api.types import is_numeric_dtype
outliers=[]
threshold=3  #fix the threshold
for col in df :
    if is_numeric_dtype(df[col]): #only for numeric variables
        mean=df[col].mean()
        std=df[col].std()
        df[col+"_zscore"]= (df[col] - mean)/std 
        df=df[np.abs(df[col+"_zscore"])<threshold]  #getting rid of the outliers

In [9]:
#unique categories 
len(df['category_id'].unique())

15

In [10]:
#number of tags
len(df['tags'].unique())

5931

In [11]:
#the most common tags
df["tags"].value_counts().idxmax()

'[none]'

In [12]:
"""the previous command shows that none values are the most frequent, this doesn't give us any useful
information about our dataframe so we should get rid of them"""
df["tags"] = df["tags"].replace(to_replace='[none]', value=np.nan).dropna()

In [13]:
#we recalculte the most common tag , we can use the previously used method or the mode
df["tags"].mode()[0]

'ABC|"americanidol"|"idol"|"american idol"|"ryan"|"seacrest"|"ryan seacrest"|"katy"|"perry"|"katy perry"|"luke"|"bryan"|"luke bryan"|"lionel"|"richie"|"lionel richie"|"season 16"|"american idol XVI"|"television"|"ad"|"spring"|"2018"|"music"|"reality"|"competition"|"song"|"sing"|"audition"|"auditions"|"performance"|"live"|"fox"|"AI"|"hollywood"|"contestant"|"official"|"american"|"official american idol"|"hollywood week"|"hometown audition"'

In [ ]:
#dropping variables
#df=df.drop(["variable_name"],axis=1)

In [ ]:
#imputation with the mean 
#df["variable_name"].fillna(df["variable_name"].mean(),inplace=True) #this function works only for numerical type

In [ ]:
#one-hot encoding
#y= pd.get_dumies(df.variable_name,prefix="variable_name")
#print(y)